div {

    padding: 0;
    width: 100%;

    ul {
        margin-bottom: 0px;
        padding: 0px;

        li {
            list-style-type: none;

            &:nth-child(odd) {
                background-color: lightskyblue;
            }

            &:nth-child(even) {
                background-color: skyblue;
            }

            div.notdid {
                color: black;
                font-weight: 700;
                padding-left: 30px;
                padding-top: 10px;
                padding-bottom: 10px;

                &::before {
                    content: url(./Images/unchecked.png);
                    padding-right: 30px;
                }



                &::after {
                    color: red;
                    content: '✖';
                    padding-left: 30px;
                }
            }

            div.did {

                color: black;
                font-weight: 700;
                background-color: gainsboro;
                padding-left: 30px;
                padding-top: 10px;
                padding-bottom: 5px;

                display: flex;
                align-items: center;

                &::before {
                    content: url(./Images/checked.png);
                    padding-right: 30px;
                }

                span.work {
                    text-decoration: line-through;
                }

                span.date {

                    margin-left: 30px;


                    padding: 5px;
                    background-color: rgb(110, 103, 103);
                    color: white;
                    text-decoration: none;
                }


            }
        }

    }

    input {
        display: block;
        outline: none;
        border: none;
        border-top: 1px solid black;
        width: 100%;
        font-weight: 700;
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: lightskyblue;
        box-sizing: border-box;
    }

    button {
        border: none;
        outline: none;
        width: 30%;
        height: 30%;
        background-color: rgba(0, 191, 255, 0.479);
        padding: 30px;
        margin-top: 100px;
        margin-left: 700px;
        font-size: 50px;
        transition: all 1s;


        &:hover {
            background-color: deepskyblue;
        }
    }


}